.metro-tile-red {background-position:center;background-color: Red;border-color: transparent}
.metro-tile-blue {background-position:center;background-color: Blue;border-color: transparent}
.metro-tile-green {background-position:center;background-color: Green;border-color: transparent}
.metro-tile-yellow {background-position:center;background-color: Yellow;border-color: transparent}
.metro-tile-cyan {background-position:center;background-color: Cyan;border-color: transparent}
.metro-tile-khaki {background-position:center;background-color: Khaki;border-color: transparent}
.metro-tile-pink {background-position:center;background-color: Pink;border-color: transparent}
.metro-tile-orange {background-position:center;background-color: Orange;border-color: transparent}
.metro-tile-violet {background-position:center;background-color: Violet;border-color: transparent}
.metro-tile-purple {background-position:center;background-color: Purple;border-color: transparent}
