#navbar-iframe{height:0px;visibility:hidden;display:none}.feed-links{display:none}
a:link{color:#333;$linkcolor;text-decoration:none}a:visited{font-size: 13px;color:#333;$visitedlinkcolor;#333;text-decoration:line-through;}a:hover{color:#333333;font-size:none;text-decoration:none;}a img{border-width:0}

/*--  MENU ATAS dan bawah--*/
#menu {position:fixed;left:0px;top:0px;width:100%;height:48px;border-bottom:solid 1px #cccccc;
background:#0088FF;padding: 0 0 0 0;z-index:100;}
#menu ul {float: left;margin: 0px;padding: 0 0 0 0;width: 960px;list-style: none;}
#menu ul li {display: inline;}
#menu ul li a {font-family:Century Gothic,Helvetica,Arial;-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;text-transform:none;float: left;padding: 14px 20px;text-align: left;text-decoration: none;background: #transparent center right no-repeat;font-size:15px;outline: none;color: #ffffff;}
#menu li a:hover{ color:#cccccc}

#menu_bottom{bottom:0px;position:fixed;}
#menu_bottom{  bottom: 0;  left: 0;  float:left; width:100%; height: 26px;padding:0px;margin:0 auto; overflow:auto;overflow:hidden;border-top: 1px solid #cccccc;background:#0088FF;z-index:100; }
#menu_bottom ul{ margin:0; padding:0; list-style:none}
#menu_bottom ul li{padding:0px;  margin:0px;  display:inline;}
#menu_bottom ul li a{border:solid 1px transparent;float:left; display:block; margin:3px; padding:0px;font:normal bold 15px Arial,Sans-Serif;text-align:center;text-decoration:none; color:#fff;  font-weight:bold; outline:none;}
#menu_bottom ul li a:hover {color:#B8B7B7}
#clock { font:normal bold 13px Arial,Sans-Serif; color:#fff;}
.log {  right: 90px; z-index:9999; }
/*--  NED MENU BAWAH--*/

/*FOOTER AND CREDIT */
#footer-wrapper {width:100%; margin: 0 auto;
background:#44A5AC; margin-top:5px;}
#footer {color:white;font-size:14px;margin:0 auto;text-align:left;width:960px;}
#footer-wrapper #Text1 {margin-right:0px;}
#footer-wrapper .widget {float:left;margin-right:20px;padding:15px 15px 0 15px;width:28%;}
#footer-wrapper ul li {font-family:calibri,Georgia, serif;border-bottom:1px dashed #444;font-size:12px;padding-left:1px;margin-left:0px;line-height:1.8em;padding:2px 0 2px 0px;list-style-type: none;}
#footer-wrapper ul {padding-left:1px;margin-left:0px;margin:0;padding:0;}
#footer-wrapper a { color:#fff; text-decoration:none;}
#footer-wrapper a:hover { color:#999; text-decoration:none;}
#footer-wrapper h2 {color:#eeeeee;font-family: Verdana,sans-serif;font-size:20px;border-bottom: 1px solid #444;font-weight:normal;letter-spacing:-0.01em;margin:5px 0 5px;padding-bottom:5px;text-align:left;word-spacing:-1px;text-transform:uppercase;}

#credit {background:#000000; margin: 0 auto;padding: 20px 0px 0px 0px;width: 100%;height: 30px;font:normal normal 12px Calibri,Arial; font-variant: normal;clear:both;color:#fff;font-weight:normal;text-align:center;border-top: 1px solid #222;}
#credit p {margin: 0;padding: 0}#credit a:visited {font-variant: normal;}
#credit a,  .credit a:visited {color: #cccccc;font-weight:normal;text-decoration: none;font-variant: normal;}
#credit a:hover{color: #ffffff;text-decoration: underline;}

/*BLOG PAGER */
.blog-pager  {border: solid 1px transparent; height:20px;width:20px;overflow:hidden; position:fixed; bottom: 1px; right: 90px;
z-index:9999;}
#blog-pager-older-link a { border: solid 1px transparent;height:20px;width:20px; overflow:hidden; position:fixed;bottom: 1px;
 right: 90px;z-index:9999;background:url(http://4.bp.blogspot.com/-F8EZpY0NfsE/UNcvl4lJFzI/AAAAAAAADDk/jehp3OeVXhs/s1600/kanan.png) no-repeat transparent;text-indent:-9999px;}
#blog-pager-newer-link a { border: solid 1px transparent; height:20px; width:20px; overflow:hidden; position:fixed; bottom: 1px; right: 90px; z-index:9999; background:url(http://4.bp.blogspot.com/-GIOXvtMZKe0/UNcvnBZNXlI/AAAAAAAADDs/Zi58XuRRyco/s1600/kiri.png) no-repeat transparent; margin-right:43px;text-indent:-9999px;}

/*--SHOW KOMENT--*/
.comentshow {height:85%; width:80%; display: block;border:dashed 4px #cccccc;
 position: fixed;top:28px;left: 8%;right: 8%;display: none;
background: #111111 url(http://2.bp.blogspot.com/-Z-HPk5l-2lA/UUyWBlvweiI/AAAAAAAAIS8/8FghY5pLjqE/s1600/bgcmn.png);box-shadow:inset 0 0 7px #cccccc; z-index: 999;overflow:hidden;padding:20px;}

#isicomentshow{border:1px solid #cccccc; border-radius:15px; box-shadow:0px 0px 8px #cccccc;height:85%;width:100%;display:block;overflow-y:auto;overflow-x:hidden;z-index:1000;}

#judule{width:100%;height:30px;border-bottom:solid 1px #cccccc;font-family:calibri;font-size:30px;padding:3px;
color:#333333;text-align:center;border-radius:10px; box-shadow:0px 0px 8px #333333;}

.Btx{ background:transparent url(http://2.bp.blogspot.com/-v2K5pNKSL3I/UUybGnEvLwI/AAAAAAAAITE/yCnf6HXwt_M/s1600/x.png) no-repeat center;width:25px;height:25px;
 position: relative;margin-top:4px;float:right;display: inline-block; padding: 0; margin-right:10px; cursor: pointer; text-indent: -999999px; -ms-filter: &quot;progid:DXImageTransform.Microsoft.Alpha(Opacity=100)&quot;; filter: alpha(opacity=100);
 opacity: 1.7;  float: right;-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;}

.Btx:hover{opacity:0.5;background:transparent url(http://2.bp.blogspot.com/-v2K5pNKSL3I/UUybGnEvLwI/AAAAAAAAITE/yCnf6HXwt_M/s1600/x.png) no-repeat center;width:25px;height:25px;
 position: relative;margin-top:5px;float:right;display: inline-block; padding: 0; margin-right:10px; cursor: pointer; text-indent: -999999px; float:right;-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;}
.mask {-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;text-transform:none;
background:rgba(0,0,0,.8);position:fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;display:none;}
.Btcoment { background:transparent url(http://2.bp.blogspot.com/-YKabxSIVw_0/UTmORnzihAI/AAAAAAAAH-M/QqMF9x44RKo/s1600/showcmt.png) no-repeat center;width:115px;height:25px;
 position: relative;display: inline-block; padding: 0; margin-right:60px; cursor: pointer; text-indent: -999999px; -ms-filter: &quot;progid:DXImageTransform.Microsoft.Alpha(Opacity=100)&quot;; filter: alpha(opacity=100);
 opacity: 1.7;  float: right;right:90px;-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;}

.Btcoment:hover { background:transparent url(http://2.bp.blogspot.com/-YKabxSIVw_0/UTmORnzihAI/AAAAAAAAH-M/QqMF9x44RKo/s1600/showcmt.png) no-repeat center;width:115px;height:25px;
 position: relative;display: inline-block; padding: 0; margin-right:60px; cursor: pointer; text-indent: -999999px;opacity: 0.5;  float: right;right:90px;-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;}

#comments h4{color:#333333;font-size:20px; font-weight:normal; margin:20px 0}
#comments h4 a :visited {color:#333333;font-size:20px; font-weight:normal; margin:20px 0}
#comments h4 a :link {color:#333333;font-size:20px; font-weight:normal; margin:20px 0}
.cm_wrap {clear: both;margin-bottom: 10px;float: right;width: 100%;}
.cm_head {margin-left: 5px;width:60px;float: left;}
.cm_avatar{width:47px;margin:0; vertical-align:middle;border:2px solid #ffffff; padding:3px; background-image: url(http://3.bp.blogspot.com/-30CWu8uMTMc/UK5Z5aWHVSI/AAAAAAAAF0Q/xj1IJUXm-8Y/s1600/profile.jpg); background-position:center; background-repeat:no-repeat; width:35px; height:35px}
.cm_avatar_a{width:47px;margin:0; vertical-align:middle; border:2px solid #ffffff; padding:3px; background:; background-position:center; background-repeat:no-repeat; width:35px; height:35px}
.cm_entry{margin-left:0px;padding:16px 16px 0 16px;background:#ffffff; padding:16px; box-shadow:3px 1px 5px rgba(0, 0, 0, .2), inset 0 3px 7px rgba(0,0,0,.7); -moz-box-shadow:3px 1px 5px rgba(0, 0, 0, .2), inset 0 3px 7px rgba(0,0,0,.7); -webkit-box-shadow:3px 1px 5px rgba(0, 0, 0, .2), inset 0 3px 7px rgba(0,0,0,.7); overflow:hidden;}
.cm_entry_a{padding:16px 16px 0 16px;background:#ffffff; padding:16px; box-shadow:3px 1px 5px rgba(0, 0, 0, .2), inset 0 3px 7px rgba(0,0,0,.7); -moz-box-shadow:3px 1px 5px rgba(0, 0, 0, .2), inset 0 3px 7px rgba(0,0,0,.7); -webkit-box-shadow:3px 1px 5px rgba(0, 0, 0, .2), inset 0 3px 7px rgba(0,0,0,.7); overflow:hidden;}
.cm_info{margin-bottom:5px;border-bottom:dotted 1px #333; padding:5px}
.cm_info_a{margin-bottom:5px;border-bottom:dotted 1px #333; padding:5px}
.cm_name{border-top:dotted 1px #333 ;font-size:14px;color:#333333;text-decoration:none; font-weight:bold; float:left}
.cm_name a:visited{color:#333;}.cm_name a{color:#333;}.cm_name a:link{color:#333;}.cm_name a:hover{color:#cccccc;}
.cm_name_a a:visited{color:#333;}.cm_name_a a{color:#333;}.cm_name_a a:link{color:#333;}.cm_name_a a:hover{color:#cccccc;}
.cm_name_a{border-top:dotted 1px #333 ;font-family:"Francois One"; font-size:14px;color:#333333;text-decoration:none; font-weight:250; font-weight:bold;float:left}
.cm_name_a:hover{border-top:dotted 1px #333 ;font-family:"Francois One"; font-size:14px; color:#cccccc; text-decoration:none; font-weight:250; font-weight:bold;float:left}
.cm_date{width : 200px;font-family:"Francois One"; font-size:13px; color:#333333; text-decoration:none; float:left; padding-top:5px;margin-right:auto;border-left:dotted 1px #333333 ;}
.cm_date_a{width : 200px;font-family:"Francois One"; font-size:13px; color:#333333; text-decoration:none; float:left; padding-top:5px;margin-left:auto;border-left:dotted 1px #333333;}
.cm_entry p{border-left:dotted 1px #333333 ;padding:5px; clear:both;background-color:#; font-size:13px; color:#333333; word-wrap:break-word}
.cm_entry p:hover{border-left:dotted 1px #cccccc ;padding:5px;color:#cccccc;}
.cm_entry_a p{border-left:dotted 1px #333333 ;padding:5px; clear:both; background-color:#; font-size:13px; color:#333333;word-wrap:break-word}
.cm_entry_a p:hover{border-left:dotted 1px #cccccc ;padding:5px;color:#cccccc;}
.cm_reply a{width:40px;border-left:dotted 1px #333333 ;border-top:dotted 1px #333333 ; display:inline-block; margin:0; padding:1px 6px; color:#333333;text-align:center; text-decoration:none; }
.cm_reply a:hover{width:40px;border-left:dotted 1px #333333 ;border-top:dotted 1px #333333 ; display:inline-block; margin:0; padding:1px 6px; color:#cccccc;text-align:center; text-decoration:none; }
div.comment-form-block{width:100%; margin: 0 auto;}div.comment-form-block p{color: #cccccc;font-family: 'Georgia';text-align: justify;font-size: 14px;text-align: left;}
/*--END FORM COMMENT--*/


.status-msg-body {background:#333333;}
.status-msg-border{background:transparent;border:transparent;}
.status-msg-wrap{background:transparent;border:transparent;;}

.informasi {background:#69B7FC;border-top:solid 1px #cccccc;  height: 150px; padding: 0px 0px 0; position: fixed;bottom: 25px;left: 0; right: 0;display: none; z-index: 999; }
.isiinfo{width:100%;  height: 146px;}
#foto { float: left;background: url(http://4.bp.blogspot.com/-n2rhw5J1KuA/UK3BgTJ2dtI/AAAAAAAAFyY/iWZfULcVesg/s1600/cokilo.jpg) no-repeat;height: 146px;width: 123px; -webkit-background-size: 100% 100%;background-size: 100% 100%;
 margin: 0 10px 0 0; border-right: 2px solid #fff;  }
.informasiwidodo {margin-left:5px; float: left;height: 146px;padding:10px;
color:#fff;font-size:14px; font family:calibri;}
.informasiwidodo a:link { color: #fff;}.informasiwidodo a:visited  { color: #fff;}.info a, .info a:link, .info a:visited {color: #fff}

.Binformasi { background:transparent url(http://1.bp.blogspot.com/-zwt6aF1KjKI/UNcvk9ZJVJI/AAAAAAAADDY/sUxcKwcw4wc/s1600/info.png) no-repeat center;width:20px;height:25px; overflow:hidden;
  position:relative;cursor: pointer;margin-left:5px;text-indent: -999999px;-ms-filter: &quot;progid:DXImageTransform.Microsoft.Alpha(Opacity=100)&quot;; filter: alpha(opacity=100);
opacity: 1.7;  float: left;-webkit-transition:All 0.5s ease-in-out;-moz-transition:All 0.5s ease-in-out;}

.quickedit{
display:none;
